body{
    background: #2c2c2c;
}


canvas {
    position: relative;
    width: 640;
    height: 360;
    z-index: 1;
  }
#overlay {
    position: absolute;
    margin: 0 auto;
    right: 65px;
    top: 135px;
    z-index: 2;
    background-color: rgba(255,255,255, 0.61);
}
#container canvas, #countdown {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 10px;
    font-size: 30px;
    z-index: 2;
    left: 45%;
    top: 20%;
    color: #630e0e;
    border: 2px solid #630e0e!important;
    border-radius: 0.50rem!important;
    visibility: hidden;
}

#joyDiv {
    position: absolute;
    margin-top: 10px;
    z-index: 3;
    right: 22%;
    top: 62%;
    width:150px;
    height:150px;
}

#launch
{
    background: rgb(48, 82, 73);
    opacity: .8;
    position:absolute;
    display: flex; 
    justify-content: center;
    font-size: 1.50rem;
    color: #fff;
    border-color: #fff;
    border-radius: 25px;
    width:80%;
    height:25%;
    left: 10%;
    bottom:-20%;
    z-index:1;
}

.absolute {
    position: absolute;
}
/* Resize images */
.navbar-brand img {
    width: 40%;
    height: auto;
}
.navbar-light {
    background: #d4d4d4;
    border-radius: 4px;
}
.navbar-nav li a span {
    color: #2c2c2c !important;
}

.dropdown-menu {
    background: #d4d4d4;
}

.navbar-nav > li:hover, .navbar-nav > li:focus {
    background-color: #e9ecef;
}

.btn-primary {
    color: #d4d4d4;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
}
.btn-primary:hover {
    color: #d4d4d4;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50%);
}
.btn-primary:active {
    color: #d4d4d4;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50%);
}
.btn-primary:focus {
    color: #d4d4d4;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50%);
}

a {
    color: #2c2c2c;
}
a:hover {
    color: #000;
}

.footer {
    background: #d4d4d4 !important;
}

.col-md-12 {
    margin-top: 10px;
}

.border-primary {
    border : 4px solid #fff !important;
}

.stream-box {
    height: 750px;
    width: 1000px;
    background: #2c2c2c;
    border-radius: 4px;
}